@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

/* This section determines some 'top-level' formatting properties that are common to all the pages */
body {
	margin: 0px; /* Override any browser imposed defaults */
	padding: 0px; /* Override any browser imposed defaults */
	background-color: yellow;
	font-family: 'Fredoka One', cursive;
}

h1 {
	color: red;
	font-size: 9em;
	font-weight: lighter;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	background-color: purple;
	margin: 70px;
	padding: 50px;
}

p {
	color: black;
	font-size: 1.2em;
	font-weight: 900;
	text-align: justify;
	background-color: pink;
	padding: 60px;
	margin: 50px;
}

#Para1 {

}

#Para2 {

}

#Para3 {

}

#Para4 {

}

#Para5 {

}

